<!DOCTYPE html>
<html lang="en">
  <head>
      <title>ANS Points</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <% if cookies[:moon] == 'true' %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <% else %>
        <%= stylesheet_link_tag 'application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
      <% end %>
      <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="d-flex flex-row w-100 justify-content-between nav-container">
      <a class="p-2 w-100 text-center nav-link" href="/events">Events</a>
      <%= link_to 'Points', "/users/search", class: "p-2 w-100 text-center nav-link" %>
      <a class="p-2 w-100 text-center nav-link" href="/contacts">Contacts</a>
      <a class="p-2 w-100 text-center nav-link nav-link-admin" href="/admin">Admin</a>
    </div>

    <div id="events-container" class="container">            
      <h1 class="title">Admin Points Dashboard</h1>
    </div> 

    <div class="filters-container">
      <div class="row">
        <div class="col-4 ">
          <div class="user-search-container">
            <input class="form-control" type="text" id="searchTableInput" onkeyup="filterTable()" placeholder="Search emails..">
          </div>
        </div>

        <div class="col-8">
          <div class="date-container">
            <div class="row">
              <div class="col-4 date-title-container">
                <p class="date-title">Date Range:</p>
              </div>
              <div class="col-4 date-input-container">
                <div id="reportrange" onload="selectDates()" style="background: #fff; cursor: pointer; padding: 8px 8px; border: 1px solid #ddd; border-radius: 4px; width: 100%">
                  <i class="fa fa-calendar"></i>&nbsp;
                  <span id="dateRange" class=""></span>
                  <i class="fa fa-caret-down"></i>
                </div>
                <form action="javascript:void(0)" onsubmit="selectDates()" class="col-4 date-button-container">
                  <input type="submit">
                </form>
              </div>
              <div class="col-4 export-button-container">
                <button class="export-button btn btn-secondary" onclick="download_table_as_csv();">Export Results to CSV</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% types_count = @type_points_dict.keys.length %>
    <div class="table-container">
      <table id="pointsTable" class="table table-responsive table-bordered table-hover table-striped table-md" data-toggle="table">
        <thead class="table-head">
          <tr>
            <th scope="col" id="empty-header" class="table-header" data-field="empty" data-align="right"></th>
            <th scope="col" id="empty-header" class="table-header" data-field="empty" data-align="right"></th>
            <th scope="col" id="empty-header" class="table-header" data-field="empty" data-align="right"></th>
            <th scope="col" id="empty-header" class="table-header" data-field="empty" data-align="right"></th>
            <th colspan='<%= types_count + 1%>' scope="col" id="empty-header" class="table-header" data-field="points" data-align="right">Points</th>
          </tr>
          <tr>
            <th scope="col" id="table-header" class="table-header" data-field="index" data-align="right" data-sortable="true">#</th>
            <th scope="col" id="table-header" class="table-header" data-field="first_name" data-align="right" data-sortable="true">First Name</th>
            <th scope="col" id="table-header" class="table-header" data-field="last_name" data-align="right" data-sortable="true">Last Name</th>
            <th scope="col" id="table-header" class="table-header" data-field="email" data-align="right" data-sortable="true"><%= link_to "Email", :sort => "count"%></th>
            <% @type_points_dict.keys.each do |type| %>
              <th scope="col" id="table-header" class="table-header" data-field="event_category"><%= type %></th>
            <% end %>
            <th scope="col" id="table-header" class="table-header" data-field="empty" data-align="right" data-sortable="true"><%= link_to "Total", :sort => "count"%></th>

          </tr>
        </thead>
        <tbody>
          <% index = 1 %>
          <% @user_points_dict.each do |userid, point_counts| %>
          <tr>
            <td><%= index %></td>
            <% @user_details_dict[userid].each do |info| %>
            <td><%= info %></td>
            <% end %>
            <% @type_points_dict.keys.each do |type| %>
            <td><%= point_counts[type] %></td>
            <% end %>
            <td><%= point_counts["Total"] %></td>
          </tr>
          <% index = index + 1 %> 
          <% end %>
        </tbody>
      </table>
    </div>
  
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript">
      $(function() {
          var start = moment().subtract(1, 'years');
          var end = moment();
          var params = new URLSearchParams(window.location.search)
          if(params.has('date_start')){
            start = moment(params.get('date_start'))
          }
          if(params.has('date_end')){
            end = moment(params.get('date_end'))
          }

          function cb(start, end) {
              $('#reportrange span').html(start.format("MM/DD/YYYY") + ' - ' + end.format('MM/DD/YYYY'));
          }

          var semester_start = moment()
          var semester_end = moment()
          if(moment().get("month") < 6){
            semester_start = moment().startOf('year')
            if(moment().get("month") < 5){
              semester_end = moment()
            } else{
              semester_end = moment().startOf('year').add(5, 'months')
            }
          } else{
            semester_start = moment().startOf('year').add(7, 'months')
            if(moment().get("month") < 11){
              semester_end = moment()
            } else{
              semester_end = moment().startOf('year').add(11, 'months')
            }
          }

          $('#reportrange').daterangepicker({
              startDate: start,
              endDate: end,
              ranges: {
                'Today': [moment(), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Semester': [semester_start, semester_end],
                'Last Year': [moment().subtract(1, 'year'), moment()],
              }
          }, cb);

          cb(start, end);
      });
      </script>

      <script>
        function selectDates(){
          var range = document.getElementById('dateRange').textContent;
          console.log(range)
          var rangeList = range.split('-')
          console.log(rangeList)
          var startDate = rangeList[0].trim()
          var endDate = rangeList[1].trim()
          console.log(window.location.pathname + "?date_start=" + startDate + "&date_end=" + endDate)
          document.getElementById('dateRange').className = "?date_start=" + startDate + "&date_end=" + endDate
          
          const paramsString = window.location.search + "?date_start=" + startDate + "&date_end=" + endDate;
          let searchParams = new URLSearchParams(paramsString);

          //Iterate the search parameters.
          for (let p of searchParams) {
            console.log(p);
          }
          if(searchParams.has('sort')){
            searchParams.delete('sort');
          }
          if(searchParams.has('date_start')){
            searchParams.delete('date_start');
          }
          if(searchParams.has('date_end')){
            searchParams.delete('date_end');
          }
          searchParams.set('date_start', startDate);
          searchParams.append('date_end', endDate);
  
          window.location.href = window.location.pathname + "?" + searchParams.toString()
        }
      </script>
    <script>
    function filterTable() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchTableInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("pointsTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    <script>
      function download_table_as_csv(table_id="pointsTable", separator = ",") {
        // Select rows from table_id
        var rows = document.querySelectorAll("table#" + table_id + " tr");
        // Construct csv
        var csv = [];
          //looping through the table
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");
                //looping through the tr
            for (var j = 0; j < cols.length; j++) {
                // removing space from the data
                var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, "").replace(/(\s\s)/gm, " ")
                  // removing double qoute from the data
                data = data.replace(/"/g, `""`);
                // Push escaped string
                row.push(`"` + data + `"`);
            }
            csv.push(row.join(separator));
        }
        var csv_string = csv.join("\n");
        // Download it
        var filename = "ANSPointsTable_" + new Date().toLocaleDateString() + ".csv";
        var link = document.createElement("a");
        link.style.display = "none";
        link.setAttribute("target", "_blank");
        link.setAttribute("href", "data:text/csv;charset=utf-8," + encodeURIComponent(csv_string));
        link.setAttribute("download", filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }
    </script>
  </body>
</html>