<div class="search-container container text-center">
    <div class="page-title">
        <h5>View your current Points</h5>
    </div>
    <hr/>
    <div class="input-group mx-auto justify-content-center">
    <%= form_tag('/users/search', :method => "get", id: "search-form", class: "d-flex w-100") do %>
        <%= text_field_tag :input, params[:input], placeholder: "Search by Texas A&M University email", class: "form-control text-center", style: "text-align: left !important" %>
        <%= submit_tag "Search", class: "btn btn-primary", style: "margin-left: 4px" %>
    <% end %>
    </div>
</div>
<div id="user-search-results" class="results-container container">
    <% if @searched_user != nil %>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9 text-left my-auto">
                    <h5 class="card-title"><%= @searched_user.email || 'no email' %></h5>
                </div>
                <div class="col-3">
                  <div class="badge bg-secondary w-100 d-flex flex-column align-items-center justify-content-center"
                       style="height: 5rem">
                    <span>
                      Points
                      <br/><span style="font-size: 2rem"><%= @points_count || 0 %></span>
                    </span>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <% unless @events.empty? %>
      <br/><hr/><br/>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">You attended:</h4>

          <% @events.each do |event| %>
            <br/>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <%= event.name %>
                </h5>
                <h6 class="card-subtitle text-muted">
                  <%= event.event_types.name %>
                </h6>

                <p class="card-text" style="padding-top: 3px">
                  Worth <strong><%= event.event_types.pointValue %></strong> <%= event.event_types.pointValue == 1 ? "point" : "points" %>
                </p>
                <% unless event.zoom.blank? %>
                  <%= link_to "Zoom Link", event.zoom, target: "_blank", class: "card-link btn btn-secondary"%>
                <% end %>
              </div>
              <div class="card-footer"><%= event.date.to_formatted_s(:long) %></div>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>

    <% elsif not @input.nil? %>
    <span>No user found</span>
    <% end %>
</div>