<div class="search-container container text-center">
    <h5>View your current Points</h5>
    <hr/>
    <div class="input-group mx-auto justify-content-center">
    <%= form_tag('/users/search', :method => "get", id: "search-form", class: "d-flex w-100") do %>
        <%= text_field_tag :input, params[:input], placeholder: "Search by Texas A&M University email", class: "form-control text-center", style: "text-align: left !important" %>
        <%= submit_tag "Search", class: "btn btn-primary", style: "margin-left: 4px" %>
    <% end %>
    </div>
</div>
<div id="user-search-results" class="results-container container">
    <% if @searched_user != nil %>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9 text-left my-auto">
                    <h5 class="card-title"><%= @searched_user.email || 'no email' %></h5>
                </div>
                <div class="col-3">
                    <span class="badge bg-secondary w-100" style="height: 5rem">Points<br></br>
                        <span style="font-size: 2rem"><%= @points_count || 0 %></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <% else %>
    <span>No user found</span>
    <% end %>
</div>