<div class="container text-center">
    <h4>View your current Points</h4>
    <div class="input-group mx-auto" style="margin: auto">
    <%= form_tag('/users/search', :method => "get", id: "search-form") do %>
        <%= text_field_tag :input, params[:input], placeholder: "Search by email or netId", class: 'form-control' %>
        </br>
        <span class="input-group-btn">
        <%= submit_tag "Search", class: 'btn btn-default' %>
        </span>
    <% end %>
    </div>
</div>
<div id="user-search-results" class="container text-center">
    <% if @searcheduser != nil %>
    <div class="card">
        <div class="card-body">
            <span><%= @searcheduser.email || 'no email' %></span>
            <span>Points <%= @pointscount || 0 %></span>
        </div>
    </div>
    <% else %>
    <span>No user found</span>
    <% end %>
</div>