<div class="modal fade" id="eventCodeModal" tabindex="-1" role="dialog" aria-labelledby="eventCodeLabel" aria-hidden="true">
    <%= render partial: 'event_code_modal' %>
</div>


<div class="events-container container">

    <div class="d-flex flex-row justify-content-between event-divider">
        <div class="p-2" style="padding-left: 0 !important">Ongoing Events</div>
        <div class="p-2"><span class="badge badge-secondary" style="background-color: #474B4F"><%= @ongoing_events.length || 0 %></span></div>
    </div>
    <hr/>

    <div class="d-flex flex-row">
    <% if @ongoing_events.length == 0 %>
        <span class="text-muted small">No Ongoing Events</span>
    <% end %>
    </div>

    <% @ongoing_events.each do |e| %>
    <%= render partial: 'event_card', locals: {event: e, joinable: true} %>
    <% end %>

    <br/>

    <div class="d-flex flex-row justify-content-between event-divider">
        <div class="p-2" style="padding-left: 0 !important">Upcoming Events</div>
        <div class="p-2"><span class="badge badge-secondary" style="background-color: #474B4F"><%= @upcoming_events.length || 0 %></span></div>
    </div>
    <hr/>

    <div class="d-flex flex-row">
    <% if @upcoming_events.length == 0 %>
        <span class="text-muted small">No Upcoming Events</span>
    <% end %>
    </div>

    <% @upcoming_events.each do |e| %>
    <%= render partial: 'event_card', locals: {event: e, joinable: false} %>
    <% end %>

    <br/>

    <div class="d-flex flex-row justify-content-between event-divider">
        <div class="p-2" style="padding-left: 0 !important">Past Events</div>
        <div class="p-2"><span class="badge badge-secondary" style="background-color: #474B4F"><%= @past_events.length || 0 %></span></div>
    </div>
    <hr/>

    <div class="d-flex flex-row">
    <% if @past_events.length == 0 %>
        <span class="text-muted small">No Past Events</span>
    <% end %>
    </div>

    <% @past_events.each do |e| %>
    <%= render partial: 'event_card', locals: {event: e, joinable: false} %>
    <% end %>
</div>