<div class="contacts-container container">

    <div class="p-2" style="background-color: #F0F0F0 !important; color: #3A546C; text-align: center">
        <h2>Contacts</h2>
    </div>

    <div style="text-align: center; margin-bottom: 2%">
        <% if @contacts.length == 0 %>
            <span class="text-muted small">No Contacts</span>
        <% else %>
            <div class="input-group mx-auto justify-content-center" style="width: 50%">
                <%= form_tag('/contact/index', :method => "get", class: "d-flex w-100") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search for a contact", class: "form-control text-center", style: "text-align: left !important" %>
                <%= submit_tag "Search", class: "btn btn-primary", style: "margin-left: 4px" %>
                <% end %>
            </div>
        <% end %>
    </div>

    <% @contacts.each do |e| %>
        <div class="card event-card">
            <div class="card-body">
                <h5 class="card-title"><strong><%=e.firstname%> <%=e.lastname%></strong></h5>
                <% unless e.title.blank? %>
                    <span class="card-subtitle mb-2"><%= e.title %></span>
                <% end %>
                <br/>
                <% unless e.affiliation.blank? %>
                    <span class="card-subtitle mb-2"><%= e.affiliation %></span>
                <% end %>
                <br/>
                <% unless e.email.blank? %>
                    <span class="card-subtitle mb-2"><%= e.email %></span>
                <% end %>
                <br/>
                <br/>
                <% unless e.bio.blank? %>
                    <h6 class="card-title">Bio</h6>
                    <span class="card-subtitle mb-2 text-muted"><%= e.bio %></span>
                <% end %>
            </div>
        </div>
    <% end %>

</div>