<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ANS Points</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash__alert   { color: black; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
  </head>

  <body>
    <%= render "layouts/splash" %>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=v9Vnt0at"></script>
</html>
